* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* Gaya Dasar */
body {
    /* font diurutkan berdasarkan prioritas */
    font-family: 'Segoe UI', Arial, sans-serif;
    /* Warna Teks */
    color: #2b2b2b;
    /* Warna Background/Latar Belakang */
    background-color: #f5f6f8;
    /* Jarak antar teks */
    line-height: 1.5;
}

/* Semua tautan diberi warna biru (menggantikan warna biru browser */
a {
    color: #1d5b8a;
    /* Menghilangkan underline dari tautan agar bersih */
    text-decoration: none;
}

/* Agar underline baru muncul saat diarahkan ke atas tautan */
a:hover {
    text-decoration: underline;
}

header {
    background-color: #1d5b8a;
    color: #fff;
    /* nilai pertama: atas-bawah, nilai kedua: kanan-kiri */
    padding: 1rem 1.5rem;
    /* Flex mengubah agar anak dari header menjadi flex container dan tersusun secara horizontal */
    display: flex;
    /* Menyejajarkan flex item secara vertikan di tengah meski tinggi berbeda */
    align-items: center;
    /* Mendorong item pertama menempel di ujung kiri dan item terakhir di ujung kanan */
    justify-content: space-between;
    /* Mengizinkan flex item pindah ke baris baru kalau ruang tidak cukup */
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.4rem;
}

/* Untuk menyusun item-item menu */
header nav ul {
    /* Mengapus titik per item */
    list-style: none;
    /* Menu menjadi horizontal */
    display: flex;
    /* Memberi jarak seragam antar item */
    gap: 1.25;
}

/* Menimpa warna tautan bawaan khusus untuk tautan yang ada di navbar */
header nav a {
    color: #fff;
    font-weight: 500;
}

/* Main Layout */
main {
    max-width: 1000px;
    /* auto berarti sistem akan menengahkan elemen secara horizontal */
    margin: 2rem auto;
    padding: 0 1.5rem;
}

section {
    /* Latar putih untuk setiap section */
    background-color: #fff;
    /* Sudut kotak melengkung */
    border-radius: 8px;
    /* jika satu nilai aja berarti untuk semua (atas bawah kanan kiri sama) */
    padding: 1.5rem;
    /* jarak bawah tiap kartu */
    margin-bottom: 1.5rem;
    /* buat bayangan tiap kartu, 0: untuk kanan/kirinya, 1px: untuk jarak bayangan bawahnya dari kartu, 3px: blurnya */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Untuk setiap judul dalam section */
section h2 {
    margin-bottom: 1rem;
    color: #1d5b8a;
}